{% extends 'base.html' %}
{% load static %}

{% block title %}
PeerRental | Application {{application.prod_id}}
{% endblock title %}

{% block navigation-bar %}
<div class="container">
    <nav class="fixed-nav">
        <div id='logo'>
            <a href="{% url 'userhome' %}">
                <img src="{% static 'public/logo.png' %}" alt="Logo">
            </a>
        </div>
        <div id="nav-links">
            <a href="/myorders/{{id}}">Back</a>
        </div>
        <div id="nav-btn">
            <a href="/userprofile/{{id}}" id="user-prof">
                <img src="{% static 'public/user.png' %}" alt="user" id="img-btn">
                <span>{{user.first_name}}</span>
            </a>
            <a href="/logout" class="btn">Logout</a>
        </div>
    </nav>
</div>
{% endblock navigation-bar %}


{% block main-content %}
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="{{message.tags}} container" {% endif %}>{{message.tags}} : {{message}}</div>
{% endfor %}
{% endif %}
<div class="container">
    <div id="application-container">
        <h3 style="margin:20px 0; font-size: 30px;">Your Application</h3>
        <div id="app-header">
            <div><strong>From :</strong> {{user.username}}</div>
            <div><strong>Email-Id :</strong> {{user.email}}</div>
            <div><strong>Name :</strong> {{user.first_name}} {{user.last_name}}</div>
            <div><strong>Phone No. :</strong> {{user.phone}}</div>
            <div><strong>Address :</strong> {{user.address}}</div>
        </div>
        <div id="app-content-edit">
            <form action="" method="POST">
                {% csrf_token %}
                <textarea id="application-edit" name="application-edit" cols="40" rows="15">
                    {{ application.application }}
                </textarea>
                <button type="submit" id="app-editbtn" class="btn btn-disabled" disabled>Edit Application</button>
            </form>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container" id="footer-container">
        <div id="left-footer">
            <img src="{% static 'public/logo.png' %}" alt="logo" width="100px">
            <h4 style="margin: 10px 0; font-size: 25px;">About</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nemo hic nihil temporibus sed quod veniam
                ex corporis maiores commodi.</p>
        </div>
        <div id="middle-footer">
            <h4 style="margin-bottom: 20px; font-size: 25px;">Useful Links</h4>
            <a href="">Home</a>
            <a href="">Service</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">FAQ</a>
        </div>
        <div id="right-footer">
            <h4 style="font-size: 25px;">Subscribe to Newsletter</h4>
            <div id="newsletter">
                <input type="email" id="nlform" placeholder="Enter your email address">
                <button class="btn">Send</button>
            </div>
            <div id="social">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>

<script>
    const app_editbtn = document.getElementById('app-editbtn')
    const app_edit_textarea = document.getElementById('application-edit')
    const app_prev_val = app_edit_textarea.value

    app_edit_textarea.addEventListener('input', () => {
        let value = app_edit_textarea.value
        if(app_prev_val != value){
            if(app_editbtn.classList.contains('btn-disabled')){
                app_editbtn.classList.remove('btn-disabled')
                app_editbtn.classList.add('success-btn')
                app_editbtn.disabled = false
            }
        }else{
            if(app_editbtn.classList.contains('success-btn')){
                app_editbtn.classList.add('btn-disabled')
                app_editbtn.classList.remove('success-btn')
                app_editbtn.disabled = true
            }
        }
    });
</script>
{% endblock main-content %}