{% extends 'base.html' %}
{% load static %}

{% block title %}
    PeerRental | Home {{user.username}}
{% endblock title %}

{% block navigation-bar %}
<div class="container">
    <nav id="navbar">
        <div id='logo'>
            <a href="/user/{{id}}">
                <img src="{% static 'public/logo.png' %}" alt="Logo">
            </a>
        </div>
        <div id="nav-links">
            <a href="#">Home</a>
            <a href="/uploadproduct">Upload</a>
            <a href="/editproduct">Edit</a>
        </div>
        <div id="nav-btn">
            <a href="/userprofile" id="user-prof">
                <img src="{% static 'public/user.png' %}" alt="user" id="img-btn">
                <span>{{user.first_name}}</span>
            </a>
            <a href="/logout" class="btn">Logout</a>
        </div>
    </nav>
</div>
{% endblock navigation-bar %}


{% block main-content %}
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="{{message.tags}} container" {% endif %}>{{message.tags}} : {{message}}</div>
    {% endfor %} 
{% endif %}
<div id="banner">
    <img src="{% static 'public/banner.png' %}" alt="banner" width="100%">
</div>
<div class="container">
    <h2 id="process-header">Rental Process</h2>
    <div id="process">
        <div class="card">
            <div class="card-icon">
                <i class="fa-regular fa-address-card"></i>
            </div>
            <div class="card-desc">
                <h3 style="margin-bottom: 10px; font-size:25px;">User Verification</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, doloribus.
            </div>
        </div>
        <div class="card">
            <div class="card-icon">
                <i class="fa-solid fa-file-signature"></i>
            </div>
            <div class="card-desc">
                <h3 style="margin-bottom: 10px; font-size:25px;">Contract Process</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, doloribus.
            </div>
        </div>
        <div class="card">
            <div class="card-icon">
                <i class="fa-regular fa-handshake"></i>
            </div>
            <div class="card-desc">
                <h3 style="margin-bottom: 10px; font-size:25px;">Contract Completion</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, doloribus.
            </div>
        </div>
        <div class="card">
            <div class="card-icon">
                <i class="fa-solid fa-truck-fast"></i>
            </div>
            <div class="card-desc">
                <h3 style="margin-bottom: 10px; font-size:25px;">Delivery</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, doloribus.
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr class="hr">
</div>

<div class="container">
    <div id="prod-container">
        <h3 style="margin-bottom: 20px; font-size: 50px;">Product List</h3>
        <div id="product-list">
            <div class="prod-item">
                <div class="prod-img">
                    <img src="{% static 'public/camera.jpg' %}" alt="prod" width="100%" height="100%">
                </div>
                <div class="prod-content">
                    <h3 style="margin:5px 0;" class="prod-title">title</h3>
                    <p class="prod-desc"><strong>Description:</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, voluptates.</p>
                    <div class="prod-postedby"><strong>Posted by:</strong>boi</div>
                    <div class="prod-price"><strong>Price:</strong> Rs 30/hr</div>
                </div>
                <div class="rent-btn btn">Rent</div>
            </div>
        {% for product in products %}
        <div class="prod-item">
            <div class="prod-img">
                <img src="{% static 'public/camera.jpg' %}" alt="prod" width="100%" height="100%">
            </div>
            <div class="prod-content">
                <h3 style="margin:5px 0;" class="prod-title">{{product.title}}</h3>
                <p class="prod-desc"><strong>Description:</strong>{{product.description}}</p>
                <div class="prod-postedby"><strong>Posted by:</strong>{{product..product.posted_by}}</div>
                <div class="prod-postedon"><strong>Posted on:</strong>{{product.posted_on}}</div>
                <div class="prod-price"><strong>Price:</strong> Rs {{product.price}}{{product.rent_type}}</div>
            </div>
            <div class="rent-btn btn">Rent</div>
        </div>
        {% endfor %}
                
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container" id="footer-container">
        <div id="left-footer">
            <img src="{% static 'public/logo.png' %}" alt="logo" width="100px">
            <h4 style="margin: 10px 0; font-size: 25px;">About</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nemo hic nihil temporibus sed quod veniam ex corporis maiores commodi.</p>
        </div>
        <div id="middle-footer">
            <h4 style="margin-bottom: 20px; font-size: 25px;">Useful Links</h4>
            <a href="">Home</a>
            <a href="">Service</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">FAQ</a>
        </div>
        <div id="right-footer">
            <h4 style="font-size: 25px;">Subscribe to Newsletter</h4>
            <div id="newsletter">
                <input type="email" id="nlform" placeholder="Enter your email address">
                <button class="btn">Send</button>
            </div>
            <div id="social">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
{% endblock main-content %}