{% extends 'base.html' %}
{% load static %}

{% block title %}
PeerRental | Home {{user.username}}
{% endblock title %}

{% block navigation-bar %}
<div class="container">
    <nav class="fixed-nav">
        <div id='logo'>
            <a href="/user/{{id}}">
                <img src="{% static 'public/logo.png' %}" alt="Logo">
            </a>
        </div>
        <div id="nav-links">
            <a href="/user/{{id}}">Back</a>
            <a href="/myproducts/{{id}}">My Products</a>
            <a href="/myorders/{{id}}">My Orders</a>
        </div>
        <div id="nav-btn">
            <a href="/userprofile/{{id}}" id="user-prof">
                <img src="{% static 'public/user.png' %}" alt="user" id="img-btn">
                <span>{{user.first_name}}</span>
            </a>
            <a href="/logout" class="btn">Logout</a>
        </div>
    </nav>
</div>
{% endblock navigation-bar %}


{% block main-content %}
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="{{message.tags}} container" {% endif %}>{{message.tags}} : {{message}}</div>
{% endfor %}
{% endif %}
<div class="container">
    <div id="prod-container">
        <div id="prodtorent">
            <div id="product-display">
                <img src="../../media/{{product.product_image}}" alt="prod" width="250px" height="250px"
                    style="margin: 0 10px;">
                <div class="prod-content" style="padding: 0px; margin: 0 10px;">
                    <h3 style="margin:20px 0; font-size: 30px;">{{product.title}}</h3>
                    <p class="desc-display"><strong>Description: </strong>{{product.description}}</p>
                    <div class="postedby-display"><strong>Seller Email-Id: </strong>{{product.posted_by}}</div>
                    <div class="postedby-display"><strong>Posted by: </strong>{{product.posted_by.username}}</div>
                    <div class="postedon-display"><strong>Posted on: </strong>{{product.posted_on}}</div>
                    <div class="price-display"><strong>Price:</strong> Rs {{product.price}} {{product.rent_type}}</div>
                </div>
                <div class="btns-display">
                    
                    {% if applied_flag == 'true' %}
                    <button class="btn btn-disabled" disabled>Already Applied</button>
                    {% elif applied_flag == 'false' %}
                    <a href="/confirm_rent/{{product.prod_id}}B{{id}}S{{product.posted_by_id}}" class="btn success-btn">Apply for Rent</a>
                    {% endif %}
                        
                    <button class="btn" id="chat-btn">Chat with Owner</button>
                </div>
            </div>
            <div id="messages-container" class="hidden">
                <div id="chat-title">
                    <h3 style="font-size: 20px;">Chatting with {{product.posted_by.username}}</h3>
                    <a href="{% url 'clearchats' product.prod_id id product.posted_by_id %}" class="btn">Clear Chat</a>
                </div>
                <div id="chat-container">
                    {% for chat in chatmessages %}
                    {% if chat.msg_type == 'going' %}
                    <div class="msg-right">
                        {{chat.message}}
                        <div class="chat-date"><small>{{chat.date_time}}</small></div>
                    </div>
                    {% elif chat.msg_type == 'coming' %}
                    <div class="msg-left">
                        {{chat.message}}
                        <div class="chat-date"><small>{{chat.date_time}}</small></div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                <div id="chat-form">
                    <form action="{% url 'complete_order' product.prod_id id product.posted_by_id%}" method="POST">
                        {% csrf_token %}
                        <input type="text" id="chat-field" name="chat-field">
                        <button type="submit" class="btn"><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container" id="footer-container">
        <div id="left-footer">
            <img src="{% static 'public/logo.png' %}" alt="logo" width="100px">
            <h4 style="margin: 10px 0; font-size: 25px;">About</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nemo hic nihil temporibus sed quod veniam
                ex corporis maiores commodi.</p>
        </div>
        <div id="middle-footer">
            <h4 style="margin-bottom: 20px; font-size: 25px;">Useful Links</h4>
            <a href="">Home</a>
            <a href="">Service</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">FAQ</a>
        </div>
        <div id="right-footer">
            <h4 style="font-size: 25px;">Subscribe to Newsletter</h4>
            <div id="newsletter">
                <input type="email" id="nlform" placeholder="Enter your email address">
                <button class="btn">Send</button>
            </div>
            <div id="social">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
{% endblock main-content %}